<!DOCTYPE html>
<html>
<head>
    <title>AngularJS training</title>
</head>
<body ng-app>

<div ng-controller="ProductListCtrl">
    <input ng-model="filter" placeholder="Search"/>
    <table>
        <tr ng-repeat="product in getProducts()">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>
                <button type="button" ng-click="remove(product)">Remove</button>
            </td>
        </tr>
    </table>
</div>

<script src="vendor/angular.js"></script>
<script src="productListCtrl.js"></script>
</body>
</html>
